*{
    margin: 0px;
    padding: 0;
    
}

@media (min-width: 768px) {
  .navbar-nav{
    display: inline-block;
    text-align: center !important;
  }
}

body{
    justify-content: center;
    align-items:center;
    background-color: black;
    width: 100%;
    height: 100vh;    
    
}

ul {

    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    overflow: hidden;
    
}

ul a{
    text-align: center !important;
    float: none;
    display: inline-block;
}

li {
    font-size: 17px;
    margin-left: 4em;
    margin-right: 4em;
}    
  
li a {
    display: block;
    color: white;
    text-decoration: none;
    
}
  
.btntop {
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: rgb(20, 85, 184);
    text-decoration: none;
    border-radius: 20px;
    position: fixed;
	display: none;
    text-align: center;
}
.btntop::after {
    content: "↑";
    font-size: 32px;
    font-weight: bold;
    color: aliceblue;
    transition: margin-top 250ms;
}
.btntop:hover::after {
    margin-top:-8px;
}

.nav-link{
    display:inline-block;
    backface-visibility: hidden;
    position:relative;
    box-shadow: 0 0 1px rgba(0,0,0,0);
    transition-duration: .3s;
    transition-property:transform;
}

.nav-link:before{
    position:absolute;
    pointer-events: none;
    z-index:-1;
    content: '';
    top: 100%;
    left: 5%;
    height:10px;
    width:90%;
    opacity:0;
    background: -webkit-radial-gradient(center, ellipse, rgba(20, 85, 184, 0.99) 0%, rgba(20, 85, 184, 0.05) 80%);
    background: radial-gradient(ellipse at center, rgba(20, 85, 184, 0.99) 0%, rgba(20, 85, 184, 0.05) 80%);
    transition-duration: 0.3s;
    transition-property: transform, opacity;
}

.nav-link:hover, .nav-link:active, .nav-link:focus{
    transform: translateY(-5px );
}
.nav-link:hover:before, .nav-link:active:before, .nav-link:focus:before{
    opacity: 1;
    transform: translateY(-5px);
}

header {
    width: 100%;
    margin: 0px;
}

.ParallaxEffectHome {
    width: 100%;
    height: 620px;
    text-align: center;
    padding: 40px 4%;
    font-family: roboto;
    color: black;

    background: url(../imgs/backgroundhome.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}
.homebutton {
    border-color: rgb(20, 85, 184);
    box-shadow: 0 0 40px 40px white inset, 0 0 0 0 rgb(20, 85, 184);
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    visibility: visible;
  }

.homebutton:hover {
    box-shadow: 0 0 10px 0 black inset, 0 0 10px 4px rgb(20, 85, 184);
}

.textbuttonhome {
    color: black;
}

.textbuttonhome:hover {
    color: white;
}

.about-me{
    color: white;
    text-align: center;
    box-shadow: 0 0 10px 0 black inset, 0 0 10px 4px white;
    width: 80%;
    padding: 15px;
    border-radius: 13px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    display: none;
}


.BackgroundProjects{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 40px 4%;
    font-family: roboto;
    color: black;
    padding-top: 8%;
    padding-bottom: 8%;
    margin-right: auto;
    margin-left: auto;

    background: url(../imgs/backgroundprojects.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.row{
    margin-left: auto;
    margin-right: auto;
}

.card{
    margin: 40px;
    color: white;
    padding: 10px;

}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    background: #fff;
}

.card-style {
    background: linear-gradient(-45deg, #2d3030, rgb(20, 85, 184));
    transition: 1s;
}

.card-style:hover{
    width: 30rem;
    transform: 0.3s;background: linear-gradient(45deg, rgb(20,85,184), #2d3030);
}

.card-img-top{
    height: 200px;
}

.btnmodal{
    background: linear-gradient(90deg, black 0%, #2d3030 100%);
    overflow:hidden; 
    bottom: 0;
}

.modal-style{
    background: linear-gradient(160deg, #2d3030 0%, #8f9494 100%);
}

.BackgroundAbout{
    width: 100%;
    height: 100%;
    padding-top: 60px;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 10%;
    font-family: roboto;
    color: black;
    text-align: center;

    background: url(../imgs/backgroundabout.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.abouttext{
    display: inline-block;
    color: white;
    background-color: black;
    width: 100%;
    height: 100%;
    border-radius: 5%;
    padding-bottom: 7%;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5%;
}

.aboutskills{
    float: right;
    width: 100%;
    height: 100%;
    border-radius: 5%;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5%;
}

.me{
    width: 150px;
    height: 150px;
    border: 3px solid rgb(20, 85, 184);
    border-radius: 4px;
    margin-bottom: 30px;
}

.skills{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.curriculum {
    padding: 0.7em 1.3em;
    cursor: pointer;
    background: linear-gradient(90deg, black 0%, #2d3030 100%);
    text-decoration: none;
    font-weight:bold;
    font-size:1.1em; 
    color: #fff;
    border-radius:10px;
    overflow:hidden; 
    transition:0.3s; 
    margin-top: 10%;
    bottom: 0;
}
.curriculum:hover { transition:0.3s; }

.background-bounce-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.background-bounce-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(20, 85, 184);
  border-radius:5px; 
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.background-bounce-right:hover, .background-bounce-right:focus, .background-bounce-right:active {
  
  color:black;

}

.background-bounce-right:hover:before, .background-bounce-right:focus:before, .background-bounce-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}



body::-webkit-scrollbar {
    width: 12px;   /* width of the entire scrollbar */
}
  
body::-webkit-scrollbar-track {
    background: black;  /* color of the tracking area */
}
  
body::-webkit-scrollbar-thumb {
    background-color: rgb(20, 85, 184);  /* color of the scroll thumb */
    border: 2px solid white;  /* creates padding around scroll thumb */

}






